<!DOCTYPE html>
<html>
{% load static %}

<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/inventory.css'%}" />
	<Title>Pac-Man</Title>
	<script src="https://kit.fontawesome.com/afd6aa68df.js" crossorigin="anonymous"></script>
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@200&display=swap" rel="stylesheet" />
</head>
<nav class="search-displace">
	<h1 class="title"> Inventory @ RCCF</h1>
	<div id="wrap">
		<form method="post" action="{% url 'search-inventory' %}" autocomplete="on">
			{% csrf_token %}
			<input id="search" name="Search" type="text" placeholder="I'm Looking for . . .">
			<input id="search_submit" value="Rechercher" type="submit">
		</form>
	</div>
</nav>
<div class="footer" style="float: right; margin:auto; margin-top: 80px;">
	<a href="./condition/">Want to search by Condtion?</a>
</div>

<body>
	<div class="searchresults">
		{% block content %}{% endblock %}
	</div>
</body>
<div class="pages">
	<div class="pagination">
		{% if pages %}
			{% for dot in pages %}
				{% if forloop.counter0 == 0 %}
				<input id="dot-{{forloop.counter}}" type="radio" name="dots" checked="checked">
				{% else %}
				<input id="dot-{{forloop.counter}}" type="radio" name="dots">
				{% endif %}
				<label for="dot-{{forloop.counter}}">|<p>{{forloop.counter}}</p></label>
			{% endfor %}
			<div class="pacman"></div>
		{% endif %}
	</div>

</div>
<script>
	var pages = document.getElementsByName("dots");
	document.getElementsByClassName("title")[0].addEventListener("click",function(){location.assign(window.location.origin);});
	for (let i = 0; i < pages.length; i++) {
		pages[i].addEventListener("click",function(){loadPageX(i)});
	}
	function loadPageX(x){
		var getUrl = window.location;
		var baseUrl = getUrl.protocol + "//" + getUrl.host + "/" + getUrl.pathname.split('/')[1];
		location.assign(baseUrl + "/x/{{searched}}/" + x);
	}
</script>
</html>