<!DOCTYPE html>
<html>
{% load static %}

<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/inventory.css'%}" />
	<Title>Pac-Man</Title>
	<script src="https://kit.fontawesome.com/afd6aa68df.js" crossorigin="anonymous"></script>
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link rel="shortcut icon" href="{% static 'img/Pacman.ico'%}" type="image/x-icon">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@200&display=swap" rel="stylesheet" />
</head>

<nav class="search-displace">
	<h1 class="title"> Inventory @ RCCF</h1>
	<div id="wrap">
		<form method="post" action="{% url 'search-inventory' %}" autocomplete="on">
			{% csrf_token %}
			<input id="search" name="Search" type="text" placeholder="I'm Looking for . . .">
			<input id="search_submit" value="Rechercher" type="submit">
		</form>
	</div>
</nav>
{% if home != None %}
<div style="margin: auto; margin-top: 90px; position: relative; float: left; border: 5px #ffd88f solid; padding: 10px; color: #f2f2f2;">
	<h1>Notifications</h1>
	<!--span>{{exp_items}} Items have <a style="color: rgb(128, 192, 230);" href="/notif">Expired</a></span> <br />
	<span>{{warn_items}} Items have <a style="color: rgb(255, 255, 125);" href="/notif">Warnings</a></span> <br />
	<span>{{error_items}} Items have <a style="color: rgb(255, 109, 109);" href="/notif">Errors</a></span--> <br />
</div>
{% endif %}

<div style="margin:auto; margin-top: 90px; position: absolute;right: 0;">
	<a href="/condition">Want to search by Condtion?</a>
	<br />
	<a href="/value">Check out Our Lab's (estimated) Worth!</a>
</div>

<body>
	<div class="searchresults">
		{% block content %}{% endblock %}
	</div>
</body>

<div class="pages">
	<div class="pagination">
		{% if pages %}
			{% for dot in pages %}
				{% if forloop.counter0 == 0 %}
				<input id="dot-{{forloop.counter}}" type="radio" name="dots" checked="checked">
				{% else %}
				<input id="dot-{{forloop.counter}}" type="radio" name="dots">
				{% endif %}
				<label id="dot--{{forloop.counter}}" for="dot-{{forloop.counter}}">|<p>{{forloop.counter}}</p></label>
			{% endfor %}
			<div class="pacman"></div>
		{% endif %}
	</div>
</div>


<script>
	var pages = document.getElementsByName("dots");
	document.getElementsByClassName("title")[0].addEventListener("click",function(){location.assign(window.location.origin);});
	for (let i = 0; i < pages.length; i++) {
		pages[i].addEventListener("click",function(){loadPageX(i)});
	}
	function loadPageX(x){
		var getUrl = window.location;
		var baseUrl = getUrl.protocol + "//" + getUrl.host + "/" + getUrl.pathname.split('/')[1];
		location.assign(baseUrl + "/x/{{searched}}/" + x);
	}
	var pagenum = "{{page_num}}";
	pagenum++;
	document.getElementById("dot--"+pagenum).style.backgroundColor="white";
	document.getElementById("dot--"+pagenum).style.padding="5px";
</script>
</html>