{% extends 'inventory.html' %}
{% block content %}
{% load static %}
<div style="margin-top: 100px;">
    <hr />
    <h1 style="text-align: center; font-size: 32; font-weight: 900;"><a href="/items/{{searched.id}}">"{{ searched.name }}"</a> can be found at : {{full_loc}}</h1>
    <hr />

    <img class="location_img" src="{% static 'img/lab_locations/'|add:dir_loc|add:'.jpg' %}" alt="">

    <!-- End Block -->
    <div style="margin-top: 150px; margin: auto; width: 60%; display: block;text-align: center;">
        <br />
        <section style="text-align: center; border: 2px solid #f2f2f2; color: #eee; font-size: 14px">
            <p id="Remember"><h1>Remember!</h1> <hr  style="width: 30%;"/><br />
                Shelves for <strong>Cabinets</strong> and <strong>Racks</strong> are read from top to bottom!
            </p>
        </section>
        <h1 style="text-align: center;font-size: 14; color: #F2C572;"><a href="#item_table" style="color: inherit;">Scroll Down for More</a></h1>
        <hr />
    </div>
    <hr style="margin-top: 370px;" />
    <h1 style="text-align: center; font-size: 32; font-weight: 900;font-weight: 900;"> Other Items found Here : </h1>
    <div style="margin: auto;width: 80%;">
        <table id="item_table" align="center">
            <tr class="top-row">
                <th onclick="sortTable(0)">Name</th>
                <th onclick="sortTable(1)">Description</th>
                <th onclick="sortTable(2)">Location</th>
                <th onclick="sortTable(3)">Quantity</th>
            </tr>
            {% for Item in other_items %}
            {% if Item.id != searched.id %}
            <tr>
                <td> <a href="/items/{{Item.id}}">{{ Item.name }}</a> </td>
                <td>{% if Item.description|length > 24 and not item_page%}
                    {{ Item.description|make_list|slice:':24'|join:'' }}...
                    {% else %}
                    {{Item.description}}
                    {% endif %}
                </td>
                <td> <a href="/location_map/{{Item.id}}"> {{ Item.location }} </a> </td>
                <td>{{ Item.quantity }} </td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}