{% extends 'inventory.html' %}
{% block content %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<div style="margin-top: 100px;">
    <hr />
    {% for Item in searched %}
    <h1 style="text-align: center; font-size: 32; font-weight: 900;">"{{ Item.name }}" can be found :</h1>
    <hr />
    <!--The next step from here is to programically add an image based on what this item's location is-->
    <!--Now we resolve the location of the object, and display the image with the corresponding name-->
    <img class="location_img" src="{{ STATIC_PREFIX }}img/lab_locations/{{ Item.new_location }}.png" alt="">
    {% endfor %}
</div>
{% endblock %}
