{% extends 'inventory.html' %}
{% block content %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<div style="margin-top: 100px;">
    <hr />
    <h1 style="text-align: center; font-size: 32; font-weight: 900;">"{{ searched.name }}" can be found :</h1>
    <hr />

    <!-- Show where the Item is-->
    <!-- Current Ideas : 
        PIXIJS to render out an image using a sprite and an absolute position
        A whole bunch of images
        Python, create the image on request, then render it-->
    <img class="location_img" src="{{ STATIC_PREFIX }}img/lab_locations/{{dir_loc}}.png" alt="">

    <!-- End Block -->
    <div style="margin-top: 150px; margin: auto; width: 60%; display: block;text-align: center;">
        <hr />
        <h1 style="text-align: center;font-size: 14;">Scroll Down for More</h1>
        <hr />
    </div>
    <hr style="margin-top: 370px;" />
    <h1 style="text-align: center; font-size: 32; font-weight: 900;font-weight: 900;"> Other Items found Here : </h1>
    <div style="margin: auto;width: 80%;">
        <table id=item_table align="center">
            <tr class="top-row">
                <th onclick="sortTable(0)">Name</th>
                <th onclick="sortTable(1)">Description</th>
                <th onclick="sortTable(2)">Location</th>
                <th onclick="sortTable(3)">Quantity</th>
            </tr>
            {% for Item in other_items %}
            {% if Item.id != searched.id %}
            <tr>
                <td> <a href="/items/{{Item.id}}">{{ Item.name }}</a> </td>
                <td>{% if Item.description|length > 24 and not item_page%}
                    {{ Item.description|make_list|slice:':24'|join:'' }}...
                    {% else %}
                    {{Item.description}}
                    {% endif %}
                </td>
                <td> <a href="/location_map/{{Item.id}}"> {{ Item.location }} </a> </td>
                <td>{{ Item.quantity }} </td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}